@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: local('PT Serif Bold'), local('PTSerif-Bold'), url(../../Fonts/PTSerif-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(../../Fonts/SourceSansPro-Light.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(../../Fonts/SourceSansPro-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(../../Fonts/SourceSansPro-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Core-icons';
  src: url(../../Fonts/Core-icons.eot);
  src: url(../../Fonts/Core-icons.svg#Core-icons) format('svg'), url(../../Fonts/Core-icons.eot?#iefix) format('embedded-opentype'), url(../../Fonts/Core-icons.woff) format('woff'), url(../../Fonts/Core-icons.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

.user-message {
  background-repeat: no-repeat;
  background-position: 28px 28px;
  background-size: 2em 2em;
  border-collapse: separate;
  color: #FFFFFF;
  padding: 2em;
}
.message-info {
  background-color: #89cffa;
}
.message-warning {
  background-color: #ff9776;
}
.message-error {
  background-color: #f38480;
}
.user-message img,
.user-message p {
  margin: 0;
}
.user-message p {
  padding: 0 0 0 20px;
}
table.user-message td {
  vertical-align: top;
}
html,
body {
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Source Sans Pro';
  background-color: #f7f7f7;
  color: #4f4d4b;
  display: table;
  width: 100%;
}
p {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.55em;
}
h1 {
  font-weight: 300;
  line-height: 1.2em;
  font-size: 2.827em;
}
h2 {
  font-weight: 300;
  line-height: 1.2em;
  font-size: 1.999em;
}
h3 {
  font-weight: 300;
  line-height: 1.2em;
  font-size: 1.414em;
}
a:link,
a:active,
a:hover,
a:focus {
  text-decoration: underline;
}
a:link,
a:visited {
  color: #008ae1;
}
header a:link,
header a:visited {
  color: #FFFFFF;
}
a:active,
a:hover,
a:focus {
  color: #f05a22;
}
.content {
  margin: 0 auto 0 auto;
  max-width: 1140px;
  overflow: visible;
  padding-left: 30px;
  padding-right: 30px;
}
header {
  background-color: #008ae1;
  color: #FFFFFF;
  overflow: auto;
  padding-bottom: 4em;
}
section {
  margin: 0 auto 0 auto;
  max-width: 1140px;
  overflow: visible;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #f7f7f7;
  padding-top: 1em;
  padding-bottom: 1em;
}
.sections-secondary {
  padding-top: 3em;
  padding-bottom: 3em;
}
.sections-secondary::after,
.inline-controls::after {
  content: "";
  clear: both;
  display: block;
}
@media only screen and (min-width: 768px) {
  section.section-secondary {
    float: left;
    padding-left: 0;
    padding-right: 6em;
    width: 36%;
  }
}
@media only screen and (max-width: 767px) {
  section.section-secondary {
    float: none;
    padding: 0;
  }
}
section.messages {
  padding-top: 3em;
  margin: 0 auto 0 auto;
  max-width: 1140px;
  overflow: visible;
  padding-left: 30px;
  padding-right: 30px;
}
.logotype-row {
  background-color: #008ae1;
  color: #FFFFFF;
  overflow: auto;
}
.logotype {
  background-color: #ef5a22;
  display: inline-block;
  width: 132px;
  padding: 16px;
}
.logotype-link {
  display: block;
  overflow: visible;
  height: 44px;
}
.inline-controls div,
.inline-controls p,
.inline-controls input {
  display: block;
  float: left;
}
input[type="submit"] {
  border-width: 0;
  font-size: 0.888em;
  font-weight: 300;
  letter-spacing: 0.05em;
  padding: 0.75em 0.75em 0.5em 0.75em;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  color: #f7f7f7;
  margin: 0.55em 0 0.55em 0;
  text-transform: uppercase;
}
input[type="submit"].button-primary {
  background-color: #ef5a22;
  border-color: #db531f;
}
input[type="submit"].button-primary:active,
input[type="submit"].button-primary:hover,
input[type="submit"].button-primary:focus {
  background-color: #db531f;
  border-color: #db531f;
}
input[type="submit"].button-secondary {
  background-color: #008ae1;
  border-color: #0077c2;
}
input[type="submit"].button-secondary:active,
input[type="submit"].button-secondary:hover,
input[type="submit"].button-secondary:focus {
  background-color: #0077c2;
  border-color: #0077c2;
}
input[type="submit"].button-tertiary {
  background-color: #79b751;
  border-color: #62a644;
}
input[type="submit"].button-tertiary:active,
input[type="submit"].button-tertiary:hover,
input[type="submit"].button-tertiary:focus {
  background-color: #62a644;
  border-color: #62a644;
}
.text-gray {
  color: #4f4d4b;
}
input[type="email"],
input[type="file"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea {
  border-width: 0;
  font-size: 0.888em;
  font-weight: 300;
  letter-spacing: 0.05em;
  padding: 0.75em 0.75em 0.5em 0.75em;
  background-color: #ebebeb;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-style: solid;
  border-color: #ebebeb;
  color: #4f4d4b;
}
input[type="email"]:focus,
input[type="file"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
textarea {
  border-left-color: #008ae1;
}
.styled-checkbox,
.styled-radio {
  background-color: #FFFFFF;
  margin: 1em 0 1em 0;
  padding: 0 1em 0 1em;
  vertical-align: top;
}
.styled-checkbox > input[type="checkbox"],
.styled-radio > input[type="radio"] {
  position: absolute;
  left: -999em;
}
.styled-checkbox > label,
.styled-radio > label {
  background-color: transparent;
  display: block;
  left: 0;
  padding-left: 30px;
  position: relative;
  top: -10px;
}
.styled-checkbox > input[type="checkbox"] + span {
  background-position: left top;
  background-repeat: no-repeat;
  display: block;
  height: 1em;
  left: 0;
  min-height: 18px;
  min-width: 18px;
  position: relative;
  top: 9px;
  width: 18px;
  background-image: url(../../Images/Admin/checkbox-unchecked.svg);
}
.styled-checkbox > input[type="checkbox"]:checked + span {
  background-position: left top;
  background-repeat: no-repeat;
  display: block;
  height: 1em;
  left: 0;
  min-height: 18px;
  min-width: 18px;
  position: relative;
  top: 9px;
  width: 18px;
  background-image: url(../../Images/Admin/checkbox-checked.svg);
}
.styled-radio > input[type="radio"] + span {
  background-position: left top;
  background-repeat: no-repeat;
  display: block;
  height: 1em;
  left: 0;
  min-height: 18px;
  min-width: 18px;
  position: relative;
  top: 9px;
  width: 18px;
  background-image: url(../../Images/Admin/radio-button.svg);
}
.styled-radio > input[type="radio"]:checked + span {
  background-position: left top;
  background-repeat: no-repeat;
  display: block;
  height: 1em;
  left: 0;
  min-height: 18px;
  min-width: 18px;
  position: relative;
  top: 9px;
  width: 18px;
  background-image: url(../../Images/Admin/radio-button-checked.svg);
}
.text-input-validation {
  border-left: 4px solid #f05d4e;
}
form.form-panel .text-input {
  background-color: #f7f7f7;
}
.form-panel-group {
  width: 50%;
}
.form-panel-group form h1,
.form-panel-group form h2,
.form-panel-group form h3 {
  display: none;
}
.tab {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  text-align: center;
}
.tab-inactive {
  background-color: #e5e5e5;
}
.tab-active {
  background-color: #FFFFFF;
}
.form-panel-tabs h1 a,
.form-panel-tabs h2 a,
.form-panel-tabs h3 a {
  color: #4f4d4b;
  display: block;
  text-decoration: none;
  margin: auto;
}
.form-panels,
.form-panel-tabs {
  background-color: #FFFFFF;
  display: block;
  margin: 0;
  min-width: 20em;
  padding: 0;
}
.form-panels {
  background-color: #FFFFFF;
  overflow: visible;
}
.form-panel {
  padding: 2em;
}
.form-panel input:not([type="submit"]) {
  width: 90%;
}
.form-group {
  padding: 0.5em 0 0.5em 0;
}
.field-validation-error,
#selectProjectValidation,
#termsAcceptedValidation {
  color: #f05d4e;
  display: inherit;
  padding: 1em 0 1em 0;
}
#selectProject .form-group {
  max-height: 50em;
  overflow: auto;
}
#selectProject input[type="submit"] {
  margin-top: 2em;
}
label:not(.visible) {
  display: none;
}
.hidden {
  display: none;
}
.detached {
  margin-top: 3em;
}
.divided::before {
  background-color: #e5e5e5;
  content: "";
  display: block;
  height: 2px;
  margin: 0 auto 0 auto;
  max-width: 1140px;
  overflow: visible;
  padding-left: 30px;
  padding-right: 30px;
}
.padded-top-bottom {
  padding-top: 1em;
  padding-bottom: 1em;
}
.no-left-padding {
  padding-left: 0;
}
.full-height {
  height: 100%;
}
.spinner-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}
.percentage {
  position: fixed;
  left: 50%;
  top: 50%;
  color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
  line-height: 82px;
  height: 82px;
  width: 82px;
  margin-left: -26px;
  margin-top: -26px;
}
.spinner {
  position: fixed;
  left: 50%;
  top: 50%;
  animation: spin 2s linear infinite;
  border: 16px solid #ebebeb;
  border-radius: 50%;
  border-top: 16px solid #008ae1;
  height: 50px;
  margin-left: -25px;
  margin-top: -25px;
  overflow: auto;
  width: 50px;
  -webkit-animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
